title = "Főoldal"
url = "/"
layout = "guest"
meta_title = "Magánatnár kereső - csak neked! - Profimagántanár.hu"
meta_description = "Magántanárra lenne szükséged? Válogass több, mint 500 magántanárunk közül országszerte, és találd meg a Neked megfelelőt!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[contactform]
showPhone = 1
showEmail = 1
showSubject = 1
showName = 1
showMessage = 1
phonePlaceholder = "..."
emailPlaceholder = "..."
subjectPlaceholder = "..."
namePlaceholder = "..."
messagePlaceholder = "..."
phoneLabel = "Az Ön telefonszáma:"
emailLabel = "Az Ön e-mail címe:"
subjectLabel = "Üzenet tárgya:"
nameLabel = "Az Ön neve:"
messageLabel = "Üzenet:"
showLabels = 1
showCaptcha = 1
areElementsBorderless = 0
isButtonFullwidth = 0
buttonBackground = "base"
buttonColor = "base"
marginTop = 20
marginBottom = 20
==
<?php
function onStart(){
	use Otto\Article\Models\Article;
  use Otto\Personfinder\Models\City;
  use Otto\Personfinder\Models\Subject;
  use Rainlab\User\Models\User;

  $this["featured_teachers"] = User::where("is_published",1)->where("extran_kiemelt_until",">",now())->inRandomOrder()->get();

  //dd($this["featured_teachers"]);

  $this["cities"] = City::where("is_published",1)->orderBy("sort_number","desc")->get();

  $this["subjects"] = Subject::where("is_published",1)->orderBy("sort_number","desc")->get();

}
?>
==


<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8" style="
    background: url({{'assets/own/images/fooldali-hatterkep_2.jpg'|theme}});
    background-size: cover;
    background-position: 60% 70%;
    ">

    <div class="nicdark_filter greydark">

            <div class="overlay-2">
              
            </div>
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">



            <div class="grid grid_12 overlay">


                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">KERESS MAGÁNTANÁRT</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle white">AKÁR PERCEK ALATT</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider center big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>


              <div class="">
                
              </div>

            </div>

        </div>
        <!--end nicdark_container-->

    </div>
     
</section>


<!--start section-->
<section class="nicdark_section nicdark_bg_greydark">
    
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        

        <div class="grid grid_12">
            
            <!--start nicdark_tabs-->
            <div class="nicdark_tab nicdark_margintop50_negative">
                
                <ul class="nicdark_tabslist greydark">
                    <li><a title="Keress magántanárt!" href="#tabs-1" class="nicdark_tooltip nicdark_btn nicdark_bg_yellow medium 
                      search-form-design-btn
                      nicdark_radius_top white"><i class="icon-graduation-cap-1 nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_marginright10"></i>KERESÉS</a></li>

                    

                </ul>

                <div class="nicdark_tabs">
                    
                    <div class="nicdark_margin20" id="tabs-1">
                      <form method="GET" action="{{'magantanar-kereses'|page}}" id="search-form">
                        <div class="nicdark_focus nicdark_width_percentage25">
    <input class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle" type="text" placeholder="TANTÁRGY..." value="" size="200"
    name="targy" list="subjects"
    >  

  <datalist id="subjects">
    {% for subject in subjects %}
      <option value="{{subject.name}}">
        {{subject.name}}
      </option>
    {% endfor %}
  </datalist>

                        </div>
                        <div class="nicdark_focus nicdark_width_percentage25">
                            <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                            <input class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle" type="text" placeholder="VÁROS..." value="" size="200"
                            name="varos" list="cities"
                            >   

  <datalist id="cities">
    {% for city in cities %}
      <option value="{{city.name}}">
        {{city.name}}
      </option>
    {% endfor %}
  </datalist>


                            </div>
                        </div>
 
                        <div class="nicdark_focus nicdark_width_percentage25">
                            <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                <input class="nicdark_btn fullwidth nicdark_bg_yellow medium nicdark_shadow nicdark_radius white nicdark_press" type="submit" value="KERESÉS"  >     
                            </div>
                        </div>    
                    </div>
                    </form>
                </div>
                
            </div>
            <!--end nicdark_tabs-->   

        </div>


    </div>
    <!--end nicdark_container-->

</section>
<!--end section-->

<!--end section--><!--start section-->
<section class="nicdark_section " style="margin-top:30px !important">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
    
    <div class="grid grid_12 percentage nomargin">    
      <div class="nicdark_textevidence center">
          <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_blue nicdark_shadow nicdark_radius_left">
              <div class="nicdark_textevidence">
                  <div class="nicdark_margin30">
                      <h2 class="white subtitle"><a class="white" href="#">EGYSZERŰ</a></h2>
                 </div>
                  <i class="nicdark_zoom icon-pencil-2 nicdark_iconbg left extrabig blue nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
              </div>
          </div>
          <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_yellow nicdark_shadow">
              <div class="nicdark_textevidence">
                  <div class="nicdark_margin30">
                      <h2 class="white subtitle"><a class="white" href="#">GYORS</a></h2>
                 </div>
                  <i class="nicdark_zoom icon-money-1 nicdark_iconbg left extrabig yellow nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
              </div>
          </div>
          <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_orange nicdark_shadow">
              <div class="nicdark_textevidence">
                  <div class="nicdark_margin30">
                      <h2 class="white subtitle"><a class="white" href="#">HATÉKONY</a></h2>
                 </div>
                  <i class="nicdark_zoom icon-music-2 nicdark_iconbg left extrabig orange nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
              </div>
          </div>
          <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_green nicdark_shadow nicdark_radius_right">
              <div class="nicdark_textevidence">
                  <div class="nicdark_margin30">
                      <h2 class="white subtitle"><a class="white" href="#">INGYENES</a></h2>
                 </div>
                  <i class="nicdark_zoom icon-graduation-cap-1 nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
              </div>
          </div>
          <div class="nicdark_space5"></div>
      </div>
    </div>

  </div>
    <!--end nicdark_container-->
     
</section>



<!--end section--><!--start section-->
<section class="nicdark_section" id="home-introduction">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">Miért a ProfiMagántanár?</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">Országos kereső - személyre szabott - akár percek alatt</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider center big"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        <p>
          A
           ProfiMagántanár azzal a céllal jött létre, hogy bárki könnyedén kereshessen magának magántanárt. A keresés teljesen ingyenes, és nagyon egyszerű, felhasználóbarát. Akár percek alatt találhatsz magadnak magántanárt - bárhol az országban! 

          <br><br>
          Még regisztrálnod sem kell, a tanárok adatai pedig azonnal láthatók mindenki számára. Tudsz akár hely alapján is keresni, amennyiben nem online szeretnél tanulni.  
        </p>


        <div class="nicdark_space50"></div>

    </div>
    <!--end nicdark_container-->
            
</section>

{% partial "teacher-grid" title="Extrán kiemelt tanáraink" teachers=featured_teachers  is_extra_featured=1 %}

