title = "Oldaltérkép"
url = "/oldalterkep"
layout = "guest"
meta_title = "Oldaltérkép - Profimagántanár.hu"
meta_description = "Nálunk megéri diákot keresni, és hirdetni is - számos okból!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[contactform]
showPhone = 1
showEmail = 1
showSubject = 1
showName = 1
showMessage = 1
phonePlaceholder = "..."
emailPlaceholder = "..."
subjectPlaceholder = "..."
namePlaceholder = "..."
messagePlaceholder = "..."
phoneLabel = "Az Ön telefonszáma:"
emailLabel = "Az Ön e-mail címe:"
subjectLabel = "Üzenet tárgya:"
nameLabel = "Az Ön neve:"
messageLabel = "Üzenet:"
showLabels = 1
showCaptcha = 1
areElementsBorderless = 0
isButtonFullwidth = 0
buttonBackground = "base"
buttonColor = "base"
marginTop = 20
marginBottom = 20
==
<?php
function onStart(){
	use Otto\Article\Models\Article;
	use Otto\Personfinder\Models\City;
	use Otto\Personfinder\Models\Subject;

	$this["cities"] = City::where("is_published",1)->orderBy('sort_number',"desc")->take(100)->get();

	$this["subjects"] = Subject::where("is_published",1)->orderBy('sort_number',"desc")->take(50)->get();

}
?>
==







<!--end section--><!--start section-->
<section class="nicdark_section" id="home-introduction" style="margin-top:160px !important;margin-bottom:160px !important">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">Oldaltérkép</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">Találd meg a Neked tetsző legfontosabb oldalakat!</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider center big"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        <p>
          
        <ul>
         	{% for city in cities %}
         		<li><a href="{{'magantanar-kereses'|page}}?varos={{city.name}}">{{city.name}}</a></li>
         	{% endfor %}

         	{% for subject in subjects %}
         		<li><a href="{{'magantanar-kereses'|page}}?targy={{subject.name}}">{{subject.name}}</a></li>
         	{% endfor %}

         	{% for city in cities %}
	         	{% for subject in subjects %}
	         		<li><a href="{{'magantanar-kereses'|page}}?targy={{subject.name}}&varos={{city.name}}">{{subject.name}} magántanár {{city.name}} városában.</a></li>
	         	{% endfor %}
         	{% endfor %}
         <ul>


            <div class="nicdark_textevidence nicdark_bg_grey nicdark_shadow nicdark_radius left overflow_scroll">  

            </div>


   
        </p>


        <div class="nicdark_space50"></div>

    </div>
    <!--end nicdark_container-->
            
</section>